body {
    font-family: 'Bebas Neue', Arial, sans-serif;
    background-color: #000;
    color: #000;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./JMP23.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: #ff69b4;
}

h2 {
    color: #fff;
}

.cotainer {
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
}

.mt-4 {
    margin-top: 16px;
}

.list-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-group-item {
    background-color: #fff;
    color: #ff69b4;
    border: #ff69b4 solid 1.2px;
    border-color: #ff69b4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item iframe {
    margin-left: 10px;
    border: none;
}

.btn {
    background-color: #000;
    color: #ff69b4;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
    margin-left: 10px;
}

.btn-secondary {
    background-color: #555;
    margin-left: 10px;
}


.btn-secondary:hover {
    background-color: #666;
}



