body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

h1 {
    text-align: center;
}

.playlist {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}

.playlist h2 {
    margin: 0;
    display: inline;
}

.playlist button {
    margin-left: 10px;
}

.playlist ul {
    list-style-type: none;
    padding: 0;
}

.playlist li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.playlist li button {
    margin-left: 10px;
}